<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.IProductseriesDao" >
  <resultMap id="BaseResultMap" type="com.entity.Productseries" >
    <id column="seriesId" property="seriesid" jdbcType="INTEGER" />
    <result column="seriesName" property="seriesname" jdbcType="VARCHAR" />
    <result column="seriesImg" property="seriesimg" jdbcType="VARCHAR" />
    <result column="kindId" property="kindid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    seriesId, seriesName, seriesImg, kindId
  </sql>
  <select id="selectAll" resultMap="BaseResultMap">
    SELECT * FROM productseries
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from productseries
    where seriesId = #{seriesid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from productseries
    where seriesId = #{seriesid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Productseries" >
    insert into productseries (seriesId, seriesName, seriesImg, 
      kindId)
    values (#{seriesid,jdbcType=INTEGER}, #{seriesname,jdbcType=VARCHAR}, #{seriesimg,jdbcType=VARCHAR}, 
      #{kindid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Productseries" >
    insert into productseries
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="seriesid != null" >
        seriesId,
      </if>
      <if test="seriesname != null" >
        seriesName,
      </if>
      <if test="seriesimg != null" >
        seriesImg,
      </if>
      <if test="kindid != null" >
        kindId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="seriesid != null" >
        #{seriesid,jdbcType=INTEGER},
      </if>
      <if test="seriesname != null" >
        #{seriesname,jdbcType=VARCHAR},
      </if>
      <if test="seriesimg != null" >
        #{seriesimg,jdbcType=VARCHAR},
      </if>
      <if test="kindid != null" >
        #{kindid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Productseries" >
    update productseries
    <set >
      <if test="seriesname != null" >
        seriesName = #{seriesname,jdbcType=VARCHAR},
      </if>
      <if test="seriesimg != null" >
        seriesImg = #{seriesimg,jdbcType=VARCHAR},
      </if>
      <if test="kindid != null" >
        kindId = #{kindid,jdbcType=INTEGER},
      </if>
    </set>
    where seriesId = #{seriesid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Productseries" >
    update productseries
    set seriesName = #{seriesname,jdbcType=VARCHAR},
      seriesImg = #{seriesimg,jdbcType=VARCHAR},
      kindId = #{kindid,jdbcType=INTEGER}
    where seriesId = #{seriesid,jdbcType=INTEGER}
  </update>
</mapper>